USE [master]
GO
/****** Object:  Database [HRMSDB]    Script Date: 4/10/2026 6:27:12 PM ******/
CREATE DATABASE [HRMSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRMSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TESTDB\MSSQL\DATA\HRMSDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HRMSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TESTDB\MSSQL\DATA\HRMSDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRMSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRMSDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/10/2026 6:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 4/10/2026 6:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmailId] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendances]    Script Date: 4/10/2026 6:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_Attendances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 4/10/2026 6:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 4/10/2026 6:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Role] [nvarchar](max) NULL,
	[JoinDate] [datetime2](7) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Designation] [nvarchar](max) NOT NULL,
	[ProfileImagePath] [nvarchar](max) NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[IsFirstLogin] [bit] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequests]    Script Date: 4/10/2026 6:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[FromDate] [datetime2](7) NOT NULL,
	[ToDate] [datetime2](7) NOT NULL,
	[LeaveType] [int] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[AppliedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LeaveRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyPerformances]    Script Date: 4/10/2026 6:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyPerformances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[TasksCompleted] [int] NOT NULL,
	[LeavesTaken] [int] NOT NULL,
	[Score] [int] NOT NULL,
 CONSTRAINT [PK_MonthlyPerformances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payrolls]    Script Date: 4/10/2026 6:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payrolls](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[TotalDays] [int] NOT NULL,
	[PresentDays] [int] NOT NULL,
	[AbsentDays] [int] NOT NULL,
	[GrossSalary] [decimal](18, 2) NOT NULL,
	[TotalDeductions] [decimal](18, 2) NOT NULL,
	[NetSalary] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Payrolls] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Performances]    Script Date: 4/10/2026 6:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Performances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[TasksCompleted] [int] NOT NULL,
	[LeavesTaken] [int] NOT NULL,
	[ProductivityScore] [float] NOT NULL,
	[Rating] [int] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Performances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryStructures]    Script Date: 4/10/2026 6:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryStructures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[BasicSalary] [decimal](18, 2) NOT NULL,
	[HRA] [decimal](18, 2) NOT NULL,
	[DA] [decimal](18, 2) NOT NULL,
	[OtherAllowances] [decimal](18, 2) NOT NULL,
	[PF] [decimal](18, 2) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_SalaryStructures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 4/10/2026 6:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[IsCompleted] [bit] NOT NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/10/2026 6:27:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260324081501_InitialCreate', N'9.0.14')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260325064239_SeedDepartments', N'9.0.14')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260326072003_AddAdmin', N'9.0.14')
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [EmailId], [Password]) VALUES (1, N'admin@gmail.com', N'123')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Attendances] ON 

INSERT [dbo].[Attendances] ([Id], [Date], [Status], [EmployeeId]) VALUES (179, CAST(N'2026-03-01T00:00:00.0000000' AS DateTime2), N'Present', 14)
INSERT [dbo].[Attendances] ([Id], [Date], [Status], [EmployeeId]) VALUES (180, CAST(N'2026-03-01T00:00:00.0000000' AS DateTime2), N'Present', 15)
INSERT [dbo].[Attendances] ([Id], [Date], [Status], [EmployeeId]) VALUES (181, CAST(N'2026-03-01T00:00:00.0000000' AS DateTime2), N'Present', 16)
GO
SET IDENTITY_INSERT [dbo].[Attendances] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (4, N'Sales')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (8, N'Management')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (9, N'IT')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [Name], [Email], [Phone], [DepartmentId], [Role], [JoinDate], [Address], [Designation], [ProfileImagePath], [Salary], [Password], [IsFirstLogin]) VALUES (14, N'Tapa', N'tapa@yahoo.com', N'7894589658', 8, N'Developer', CAST(N'2026-02-16T00:00:00.0000000' AS DateTime2), N'kolkata', N'Intern', N'/images/e79a4563-3c73-44a7-8b1d-e5095673ccf7.png', CAST(15000.00 AS Decimal(18, 2)), N'1234', 0)
INSERT [dbo].[Employees] ([EmployeeId], [Name], [Email], [Phone], [DepartmentId], [Role], [JoinDate], [Address], [Designation], [ProfileImagePath], [Salary], [Password], [IsFirstLogin]) VALUES (15, N'Saugata R', N'sr@gmail.com', N'5469856892', 9, N'Developer', CAST(N'2026-02-16T00:00:00.0000000' AS DateTime2), N'kolkata', N'Intern', N'/images/5c7ea858-9b38-469f-a7ac-c3b51c7fadad.jfif', CAST(15000.00 AS Decimal(18, 2)), N'123', 1)
INSERT [dbo].[Employees] ([EmployeeId], [Name], [Email], [Phone], [DepartmentId], [Role], [JoinDate], [Address], [Designation], [ProfileImagePath], [Salary], [Password], [IsFirstLogin]) VALUES (16, N'Trisha N', N'tsh@gmail.com', N'4589657842', 4, N'sales man', CAST(N'2025-06-04T00:00:00.0000000' AS DateTime2), N'kolkata', N'Buisness Development', N'/images/0e320fd8-6401-4879-863d-cf19deaf3d9a.jfif', CAST(12000.00 AS Decimal(18, 2)), N'123', 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveRequests] ON 

INSERT [dbo].[LeaveRequests] ([Id], [EmployeeId], [FromDate], [ToDate], [LeaveType], [Reason], [Status], [AppliedOn]) VALUES (1, 17, CAST(N'2026-04-14T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-17T00:00:00.0000000' AS DateTime2), 0, N'I want leave', N'Approved', CAST(N'2026-04-02T15:15:24.5758800' AS DateTime2))
INSERT [dbo].[LeaveRequests] ([Id], [EmployeeId], [FromDate], [ToDate], [LeaveType], [Reason], [Status], [AppliedOn]) VALUES (2, 14, CAST(N'2026-04-03T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-04T00:00:00.0000000' AS DateTime2), 0, N'I want leave, for a day.', N'Rejected', CAST(N'2026-04-02T18:35:56.6572364' AS DateTime2))
INSERT [dbo].[LeaveRequests] ([Id], [EmployeeId], [FromDate], [ToDate], [LeaveType], [Reason], [Status], [AppliedOn]) VALUES (3, 14, CAST(N'2026-04-15T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-17T00:00:00.0000000' AS DateTime2), 1, N'leave', N'Pending', CAST(N'2026-04-02T18:41:07.2922127' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LeaveRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[MonthlyPerformances] ON 

INSERT [dbo].[MonthlyPerformances] ([Id], [EmployeeId], [Year], [Month], [TasksCompleted], [LeavesTaken], [Score]) VALUES (1, 14, 2026, 4, 0, 0, 0)
INSERT [dbo].[MonthlyPerformances] ([Id], [EmployeeId], [Year], [Month], [TasksCompleted], [LeavesTaken], [Score]) VALUES (2, 15, 2026, 4, 0, 0, 0)
INSERT [dbo].[MonthlyPerformances] ([Id], [EmployeeId], [Year], [Month], [TasksCompleted], [LeavesTaken], [Score]) VALUES (3, 16, 2026, 4, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[MonthlyPerformances] OFF
GO
SET IDENTITY_INSERT [dbo].[Payrolls] ON 

INSERT [dbo].[Payrolls] ([Id], [EmployeeId], [Month], [Year], [TotalDays], [PresentDays], [AbsentDays], [GrossSalary], [TotalDeductions], [NetSalary]) VALUES (1, 14, 4, 2026, 30, 0, 30, CAST(15500.00 AS Decimal(18, 2)), CAST(15500.00 AS Decimal(18, 2)), CAST(-15500.00 AS Decimal(18, 2)))
INSERT [dbo].[Payrolls] ([Id], [EmployeeId], [Month], [Year], [TotalDays], [PresentDays], [AbsentDays], [GrossSalary], [TotalDeductions], [NetSalary]) VALUES (14, 14, 3, 2026, 31, 28, 3, CAST(15500.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)), CAST(14000.00 AS Decimal(18, 2)))
INSERT [dbo].[Payrolls] ([Id], [EmployeeId], [Month], [Year], [TotalDays], [PresentDays], [AbsentDays], [GrossSalary], [TotalDeductions], [NetSalary]) VALUES (15, 15, 3, 2026, 31, 26, 5, CAST(15500.00 AS Decimal(18, 2)), CAST(2500.00 AS Decimal(18, 2)), CAST(13000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Payrolls] OFF
GO
SET IDENTITY_INSERT [dbo].[Performances] ON 

INSERT [dbo].[Performances] ([Id], [EmployeeId], [TasksCompleted], [LeavesTaken], [ProductivityScore], [Rating], [Status], [Date]) VALUES (1, 14, 20, 1, 100, 5, N'Good', CAST(N'2026-04-06T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Performances] ([Id], [EmployeeId], [TasksCompleted], [LeavesTaken], [ProductivityScore], [Rating], [Status], [Date]) VALUES (2, 15, 18, 1, 90, 5, N'Good', CAST(N'2026-04-06T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Performances] ([Id], [EmployeeId], [TasksCompleted], [LeavesTaken], [ProductivityScore], [Rating], [Status], [Date]) VALUES (3, 16, 15, 2, 75, 4, N'Good', CAST(N'2026-04-06T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Performances] OFF
GO
SET IDENTITY_INSERT [dbo].[SalaryStructures] ON 

INSERT [dbo].[SalaryStructures] ([Id], [EmployeeId], [BasicSalary], [HRA], [DA], [OtherAllowances], [PF], [Tax]) VALUES (1, 14, CAST(15000.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[SalaryStructures] ([Id], [EmployeeId], [BasicSalary], [HRA], [DA], [OtherAllowances], [PF], [Tax]) VALUES (2, 15, CAST(15000.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[SalaryStructures] ([Id], [EmployeeId], [BasicSalary], [HRA], [DA], [OtherAllowances], [PF], [Tax]) VALUES (4, 17, CAST(45896.00 AS Decimal(18, 2)), CAST(800.00 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(1540.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SalaryStructures] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([Id], [EmployeeId], [Date], [IsCompleted]) VALUES (1, 17, CAST(N'2026-04-08T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Tasks] ([Id], [EmployeeId], [Date], [IsCompleted]) VALUES (2, 17, CAST(N'2026-04-07T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Tasks] ([Id], [EmployeeId], [Date], [IsCompleted]) VALUES (3, 17, CAST(N'2026-04-01T00:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
/****** Object:  Index [IX_Attendances_EmployeeId]    Script Date: 4/10/2026 6:27:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Attendances_EmployeeId] ON [dbo].[Attendances]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_DepartmentId]    Script Date: 4/10/2026 6:27:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_DepartmentId] ON [dbo].[Employees]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaveRequests_EmployeeId]    Script Date: 4/10/2026 6:27:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveRequests_EmployeeId] ON [dbo].[LeaveRequests]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MonthlyPerformances_EmployeeId]    Script Date: 4/10/2026 6:27:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_MonthlyPerformances_EmployeeId] ON [dbo].[MonthlyPerformances]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payrolls_EmployeeId]    Script Date: 4/10/2026 6:27:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payrolls_EmployeeId] ON [dbo].[Payrolls]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Performances_EmployeeId]    Script Date: 4/10/2026 6:27:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Performances_EmployeeId] ON [dbo].[Performances]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalaryStructures_EmployeeId]    Script Date: 4/10/2026 6:27:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_SalaryStructures_EmployeeId] ON [dbo].[SalaryStructures]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_EmployeeId]    Script Date: 4/10/2026 6:27:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_EmployeeId] ON [dbo].[Users]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendances] ADD  DEFAULT ((0)) FOR [EmployeeId]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [Address]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'') FOR [Designation]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0.0)) FOR [Salary]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (N'123') FOR [Password]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsFirstLogin]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequests_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [FK_LeaveRequests_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[MonthlyPerformances]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyPerformances_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonthlyPerformances] CHECK CONSTRAINT [FK_MonthlyPerformances_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Payrolls]  WITH CHECK ADD  CONSTRAINT [FK_Payrolls_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payrolls] CHECK CONSTRAINT [FK_Payrolls_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Performances]  WITH CHECK ADD  CONSTRAINT [FK_Performances_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Performances] CHECK CONSTRAINT [FK_Performances_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[SalaryStructures]  WITH CHECK ADD  CONSTRAINT [FK_SalaryStructures_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalaryStructures] CHECK CONSTRAINT [FK_SalaryStructures_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Employees_EmployeeId]
GO
USE [master]
GO
