@model List<HRMS.Entities.Payroll>

<div class="container mt-4">

    <h3 class="mb-4">💰 My Payslips</h3>

    <table class="table table-hover shadow">
        <thead class="table-dark">
            <tr>
                <th>Month</th>
                <th>Year</th>
                <th>Net Salary</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(p.Month)</td>
                    <td>@p.Year</td>
                    <td>₹ @p.NetSalary</td>
                    <td>
                        <a href="/Payroll/DownloadPayslip/@p.Id"
                               class="btn btn-sm btn-primary">
                            ⬇ Download
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>