@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container mt-5">

    <!-- Title Center -->
    <h2 class="fw-bold text-center mb-5">Admin Dashboard</h2>

    <!-- Cards -->
    <div class="row g-4 justify-content-center">

        <!-- Employees -->
        <div class="col-md-4">
            <div class="card shadow border-2 rounded-4 text-center p-4 h-100">
                <h4 class="fw-semibold">Employees</h4>
                <p class="text-muted">Manage all employees</p>
                <a asp-controller="Employee" asp-action="Index"
                       class="btn btn-primary w-100 rounded-3">
                    Go to Employees
                </a>
            </div>
        </div>

        <!-- Departments -->
        <div class="col-md-4">
            <div class="card shadow border-2 rounded-4 text-center p-4 h-100">
                <h4 class="fw-semibold">Departments</h4>
                <p class="text-muted">Manage departments</p>
                <a asp-controller="Department" asp-action="Index"
                       class="btn btn-primary w-100 rounded-3">
                    Manage Departments
                </a>
            </div>
        </div>

        <!-- Reports -->
        <div class="col-md-4">
            <div class="card shadow border-2 rounded-4 text-center p-4 h-100">
                <h4 class="fw-semibold">Reports</h4>
                <p class="text-muted">View attendance reports</p>
                <a asp-controller="Reports" asp-action="ManageReports"
                       class="btn btn-primary w-100 rounded-3">
                    Manage All Report
                </a> 
                @* <a href="/Reports/ManageReports" class="nav-link btn btn-primary w-100 rounded-3">
                    Manage Reports</a> *@
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow border-2 rounded-4 text-center p-4 h-100">
                <h4 class="fw-semibold">Manage Leave</h4>
                <p class="text-muted">Manage Leave</p>
                <a href="/Leave/Manage" class="btn btn-primary">
                    Manage Leave Requests
                </a>
            </div>
        </div>

    </div>

</div>